arm9/build/
arm11/build/
eclipse_project/
*.sublime-project
*.sublime-workspace
arm9/fastboot3DS9.bin
arm11/fastboot3DS11.bin
arm9/fastboot3DS9.elf
arm11/fastboot3DS11.elf
fastboot3DS.firm
fastboot3DS*.7z
fastboot3DS_priv.key
