arm9/build/
arm11/build/
eclipse_project/
fastboot3DS.sublime-project
fastboot3DS.sublime-workspace
arm9/fastboot3DS.bin
arm11/fastboot3DS.bin
arm9/fastboot3DS.elf
arm11/fastboot3DS.elf
fastboot3DS.firm
fastboot3DS*.7z
